@page "/NumberPredictor"
<h3>NumberPredictor</h3>

<div class="main-grid">

    <!-- DRAWING CANVAS -->
    <canvas @ref="CanvasRef"
            style="border: 5px solid black;"
            class="draw-canvas"
            @onclick="OnMouseDown"
            @onmouseup="OnMouseUp"
            @onmousemove="OnMouseMove"
            @oncontextmenu="SuppressContextMenu">
    </canvas>

    <!-- RIGHT SIDE CONTROLS -->
    <div class="controls">

        <label>Brush Size:</label>
        <input type="range" min="1" max="30"
               @bind="BrushSize"/>
        <input type="text" style="width:40px" @bind="BrushSize"/>

        <button @onclick="SaveFile">Save File</button>

        <button @onclick="RecognizeNumber" style="margin-top:8px;">
            What number<br/>is this?
        </button>

        <input type="text"
               style="width:40px"
               @bind="FinalNumber"/>

        <button @onclick="TrainModel" style="margin-top:12px;">
            Train Model
        </button>

        <input type="text" style="width:50px"
               @bind="TrainIterations"/>

        <!-- 0-9 buttons -->
        <div class="num-grid">
            @for (int n = 0; n < 10; n++)
            {
                <button @onclick="(() => TrainSingle(n))">@n</button>
            }
        </div>

        <button @onclick="ClearCanvas"
                style="margin-top:10px;">
            Clear
        </button>
    </div>
</div>

<script src="NumberPredictor.js"></script>
